*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{

}

header{
	width: 100%;
}


.navegacion{
	width: 100px;
	margin: 50px;

}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 10px 10px;

	font-family: 'Open sans';
	text-decoration: none;
}

.menu li a:hover{

	transition: all .3s;
}

/* Submenu*/

.submenu{
	position: absolute;

	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}